/*setting up the basics*/
:root{
    --primary-color:#992f60;
    --secondary-color:#feef8f;
    --tertiary-color:#d37162;
}

body{
    font-size: 100%;
    font-family:'Lato', sans-serif;
    max-width:800px;
    padding: 1rem;
    margin:0 auto;
}

header{
    background-color: var(--primary-color);
    padding:1rem 2rem;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#signature-header{
    max-width: 600px;
    margin:1rem;
    fill: var(--secondary-color);
}

header ul{
    padding-left:0px;
    display: grid;
    justify-items: center;
}

header li{
    list-style-type: none;
    padding:.25rem .75rem;
}

main{
    display:grid;
    width:100%;
    gap:2rem;
}

#skills{
    background-color:lightblue;
    height:300px;
}


@media screen and (min-width:720px){
    header ul{
        grid-template-columns: 1fr 1fr;
        justify-items:start;
    }
    header li:nth-of-type(2n-1){
        justify-self: end;
        border-right:1px solid white;
    }
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px auto 1fr;
    }
    #skills{
        grid-row:1;
        grid-column: 1;
    }
    #experience{
        grid-row: 1/span 2;
        grid-column: 2;
    }
    #work-history{
        grid-row:2/-1;
        grid-column: 1;
    }
    #education{
        grid-column: 2;
    }
}
