@import url(https://fonts.googleapis.com/css2?family=Karla:ital@0;1&family=KoHo&display=swap);

:root{
    --primary-color:rgb(0,92,111);
  }
body{
    font-family:'Karla',sans-serif;
    max-width:800px;
    margin:auto;
    padding:1rem;
  }
figure{
    height:20vh;
    overflow: hidden;
    width:100%;
    margin:0;
    position: relative;
  }
img{
    object-fit:cover;
    object-position: 50% -200px;
}
figcaption{
    position:absolute;
    bottom:0;
    right:0;
    padding:.3rem;
    font-size: .75rem;
    background-color:rgba(0,92,111,.8);
    color:white;
}
figcaption a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}
figcaption a:hover{
    color:var(--primary-color);
}
p{
    margin-bottom:1rem;
    margin-top:0;
}
p.required-info{
    font-size: .9rem;
    font-style: italic;
    margin-bottom: .5rem;
    color:var(--primary-color);
}
h1{
    font-family:'KoHo', sans-serif;
    color:var(--primary-color);
}

/*starting the form styles*/

form{
    display:flex;
    flex-direction: column;
}

fieldset{
    border-right:none;
    border-left:none;
    border-bottom:none;
    display:grid;
    gap: 2rem;
    margin-right:2rem;
    margin-bottom:2rem;
}
@media screen  and (min-width:650px) {
    fieldset{
        grid-template-columns: 50% 50%;
    }
}
legend{
    font-family: 'KoHo', sans-serif;
    padding:.5rem;
    color:var(--primary-color);
    font-size: 1.5rem;
}
input{
    font-family: 'Karla', sans-serif;
    padding:0 .5rem;
    height:2rem;
    border:1px solid var(--primary-color);
}
select{
    font-family: 'Karla', sans-serif;
    padding:.25rem;
    border:1px solid var(--primary-color);
}
label{
    margin:0rem 0 .5rem 0;
    line-height: 1.25rem;
}
label[for="text-area"]{
    line-height:2rem;
}
input[type="checkbox"], input[type="radio"]{
    height:1rem;
    padding:0;
    margin:0 .25rem 0 0;
}
[required]{
    border: 2px solid var(--primary-color);
}
input[type="submit"]{
    text-transform: uppercase;
    font-size: 1.5rem;
    height:4rem;
    padding:0 2rem;
    margin:2rem auto;
    cursor: pointer;
    color:white;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
input[type="submit"]:hover{
    color:var(--primary-color);
    background-color: white;
    border: 2px solid var(--primary-color);
}
.form-field{
    display:flex;
    flex-direction: column;
}
textarea{
    min-height:5rem;
    border:1px solid var(--primary-color);
    width:100%;
}