dl, ol, ul{
    margin-left:1.5rem;
    font-family: var(--para-font);
    line-height: 1.25rem;;
}

ol:last-child, ul:last-child{
    margin-bottom: .5rem;;
}

dt{
    font-style: italic;
}

ol > li{
    list-style:decimal inside;
}

ol > li > ol > li{
    list-style: upper-alpha inside;
}

ol > li > ol > li > ol > li{
    list-style: lower-roman inside;
}

ul > li{
    list-style: inside circle;
}

ul > li > ul > li{
    list-style: square inside;
}

ul > li > ul > li > ul > li{
    list-style: disc inside;
}