/*setting up the basics*/
:root{
    --primary-color:#992f60;
    --secondary-color:#feef8f;
    --tertiary-color:#d37162;
}

body{
    font-size: 100%;
    font-family:'Lato', sans-serif;
    max-width:900px;
    padding: 1rem;
    margin:0 auto;
}

header{
    background-color: var(--primary-color);
    padding:1rem 2rem;
    color:white;
}

header ul{
    padding-left:0px;
}

header li{
    list-style-type: none;
}

main{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.flex-container{
    width:48%;
}

#skills{
    background-color:lightblue;
    height:300px;
}


@media screen and (max-width:760px){
    .flex-container{
        width:100%;
    }
}
