@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
:root {
  --header-font-color: #edf8f1;
  --bg-color: #06065b;
  --bg-yellow: rgba(249, 195, 0, 1);
  --bg-light-yellow: rgba(249, 195, 0, 0.75);
  --bg-main: white;
  --drop-shadow: rgba(0, 0, 0, 0.3);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card{
    max-width: 520px;
    background-color: lightgray;
    position: relative;
    margin: 3rem;
    border-radius: 5px;
    overflow: hidden;
}

.card > img{
    max-width: 40%;
}

.card-text{
    position:absolute;
    right:0;
    top:0;
    max-width: 49%;
    padding: 1rem;
    /*font-size:calc(12px + .5vw);*/
    font-size:clamp(12px,2vw,18px);
}


/*flexbox!!*/

header li, header a, header button, header p, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size:1rem;
    text-decoration: none;
    list-style: none;
    color:var(--header-font-color);
}

header{
    width:100%;
    display:flex;
    background-color: var(--bg-color);
    padding:2rem;
    justify-content: flex-end;
    align-items: center;
}

.flex-list{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    align-items:center;
    position:relative;
}

.flex-list ul{
    display:flex;
    justify-content: center;
    white-space: nowrap;
    margin-right:1em;
}

.flex-list li{
    text-align:center;
    border-left: 1px solid var(--header-font-color);
    padding:0 1rem;
    margin:.25rem 0;
}

.flex-list li:nth-child(1){
    border:none;
}

.logo{
    margin-right:auto;
    height:auto;
    width:100px;
}

@media screen and (max-width:1024px){
    .flex-list ul{
        flex-wrap:wrap;
    }
}

@media screen and (max-width:768px){
    header li, header a, button{
        font-size: 2vw;;
    }
    button{
        padding: 4.5px 12.5px;
    }
}

button{
    background-color: var(--bg-yellow);
    padding:9px 25px;
    border-radius:50px;
    border:none;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: var(--bg-light-yellow);
}