@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
:root{
    --primary: rgb(153, 47, 96);
    --secondary:rgb(254, 239, 143);
    --dark-primary:rgb(112, 24, 53);
    --dark-secondary:rgb(233, 147, 19);
}
body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 100%;
    font-family:'Lato', sans-serif;
}


/*the header styles*/

header{
    position:fixed;
    right:0;
    left:0;
    top:0;
    background:rgba(153, 47, 96,.5);
    padding:1rem;
    display:flex;
    justify-content: space-between;
}
.scrolled{
    box-shadow: 0px 0 .2rem 0 var(--dark-primary);
    border-bottom:1px solid var(--dark-primary);
    background-color: var(--primary);
}
header > svg{
    fill:var(--secondary);
    max-width: 125px;
}
header ul{
    list-style: none;
    display:flex;
}
header li{
    margin-left:1.5rem;
}
header a{
    text-decoration: none;
    color:var(--secondary);
    text-transform: uppercase;
}
header a:hover{
    color:var(--dark-secondary);
}


/*the welcome section styles*/

section#welcome-section{
    background: center / cover no-repeat url(walter_iznik.jpg);
    height: 100vh;
    text-align: center;
    display:flex;
    align-items: center;
}
#welcome-section #welcome-text{
    background:rgba(153, 47, 96, .9);
    margin:0 auto;
    padding:2rem;
}
section#welcome-section svg{
    fill:var(--secondary);
    width:60vw;
    max-width:1000px;
}
section#welcome-section p{
    max-width:800px;
    margin: 2rem auto 0;
    color:white;
    font-size:clamp(.8rem, 2vw, 1rem);
    line-height: 1.5rem;
}

/*the projects section*/

section#projects{
    max-width: 1020px;
    margin:0 auto;
    display:grid;
}
.project-tile{
    margin:.5rem;
    border:2px solid var(--primary);
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 0 2px 1px var(--primary-dark);
}
.project-tile img{
    object-fit:cover;
    max-width: 100%;
}
.project-text{
    margin:1rem;
    display:grid;
    grid-template-areas: "name link" "descrip descrip";
    grid-gap:.5rem;
    align-items: center;
}
.project-text h2{
    grid-area:name;
    margin:0;
    font-size: 1.25rem;
    color:var(--primary);
}
.project-text a{
    grid-area:link;
    text-decoration: none;
    padding:.5rem 1rem;
    background-color: var(--primary);
    color:var(--secondary);
    justify-self: end;
    text-transform: uppercase;
    border:1px solid var(--primary);
}
.project-text a:hover{
    background-color:var(--secondary);
    color:var(--primary);
}
.project-text p{
    grid-area:descrip;
    margin:0;
}