:root{
    --fire:#ff8989;
    --fire-dark:rgb(83, 10, 10);
    --fire-sat:rgb(209, 12, 12);
    --water:#9ac6ff;
    --water-dark:rgb(17, 10, 83);
    --water-sat:#0e60cc;
    --earth:#e1ab65;
    --earth-dark:rgb(65, 34, 17);
    --earth-sat:#6e350f;
    --air:#f9f990;
    --air-dark:rgb(92, 50, 10);
    --air-sat:#d1a30d;
    --heart:#cf90f9;
    --heart-dark:rgb(45, 14, 70);
    --heart-sat:#7515b4;
}
body{
    font-family: "Bebas Neue", sans-serif;
}
main{
    max-width:95vw;
    margin:0 auto;
}
h1{
    text-align: center;
    font-size: 60pt;
    margin: 20px auto 0;
}
h2{
    font-size: 30pt;
    margin:0;
    text-align: center;
}
p{
    text-align: center;
    font-size: 20pt;
    margin-top:0;
}
nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
nav button{
    border-radius: 10px;
    cursor: pointer;
    padding:15px 15px 10px 15px;
    font-size: clamp(10pt,3vw,20pt);
    font-family: "Bebas Neue", sans-serif;
    line-height: 20pt;
    border:2px solid black;
    margin:0 5px 10px;
}
nav button:hover{
    filter: saturate(2);
}
.arena{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dragon{
    padding:20px;
    display: grid;
    grid-template-areas: "header header" "dragon clicks";
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin:auto;
    cursor: pointer;
    max-width:300px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.fire{
    background-color: var(--fire);
    border: 2px solid var(--fire-dark);
    color:var(--fire-dark);
}
.fire .st1{
    fill:var(--fire-dark);
}
.fire .st2{
    fill:var(--fire);
}
.fire .st3{
    fill:var(--fire-dark);
}
.fire .st4{
    fill:var(--fire-dark);
}
.fire .st5{
    fill:var(--fire-sat);
}
.water{
    background-color: var(--water);
    border: 2px solid VAR(--water-dark);
    color:VAR(--water-dark);
}
.water .st1{
    fill:var(--water-dark);
}
.water .st2{
    fill:var(--water);
}
.water .st3{
    fill:var(--water-dark);
}
.water .st4{
    fill:var(--water-dark);
}
.water .st5{
    fill:var(--water-sat);
}
.earth{
    background-color: var(--earth);
    border: 2px solid var(--earth-dark);
    color:var(--earth-dark);
}
.earth .st1{
    fill:var(--earth-dark);
}
.earth .st2{
    fill:var(--earth);
}
.earth .st3{
    fill:var(--earth-dark);
}
.earth .st4{
    fill:var(--earth-dark);
}
.earth .st5{
    fill:var(--earth-sat);
}
.air{
    background-color: var(--air);
    border: 2px solid var(--air-dark);
    color:var(--air-dark);
}
.air .st1{
    fill:var(--air-dark);
}
.air .st2{
    fill:var(--air);
}
.air .st3{
    fill:var(--air-dark);
}
.air .st4{
    fill:var(--air-dark);
}
.air .st5{
    fill:var(--air-sat);
}
.heart{
    background-color: var(--heart);
    border: 2px solid var(--heart-dark);
    color:var(--heart-dark);
}
.heart .st1{
    fill:var(--heart-dark);
}
.heart .st2{
    fill:var(--heart);
}
.heart .st3{
    fill:var(--heart-dark);
}
.heart .st4{
    fill:var(--heart-dark);
}
.heart .st5{
    fill:var(--heart-sat);
}
.dragon h2{
    grid-area: header;
}
.dragon p{
    grid-area: element;
    font-size: 20pt;
    margin-top:0;
}
.dragon button{
    font-size: 100px;
    background-color: transparent;
    border:none;
    grid-area: dragon;
    cursor: pointer;
}
.dragon output{
    font-size: 30pt;
    text-align: center;
    margin:5px 0;
    grid-area: clicks;
    padding:0;
}