body{
    font-family: "Bebas Neue", sans-serif;
}
main{
    max-width:800px;
    margin:0 auto;
}
h1{
    text-align: center;
    font-size: 60pt;
}
h2{
    font-size: 30pt;
    margin:0;
}
.arena{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.dragon{
    padding:20px;
    min-width:145px;
    width: 15%;
    /* display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-areas: "header header" "dragon clicks";
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin:5px;
}
.red{
    background-color: #ff8989;
}
.blue{
    background-color: #9ac6ff;
}
.brown{
    background-color: #e1ab65;
}
.yellow{
    background-color: #f9f990;
}
.dragon h2{
    grid-area: header;
    text-align: center;
}
.dragon button{
    font-size: 50px;
    background-color: transparent;
    border:none;
    cursor: pointer;
    grid-area: dragon;
}
.dragon output{
    font-size: 30pt;
    text-align: center;
    margin:5px 0;
    grid-area: clicks;
    padding:0;
}